

services:
  backend:
    platform: linux/amd64
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - ./backend/.env
    environment:
      DB_HOST: mysql
      DB_USER: root
      DB_PASSWORD: example_root_password # Shay-150721
      DB_NAME: Shay_Project
    ports:
      - "3000:3000"
    restart: unless-stopped
    depends_on:
      mysql:
        condition: service_healthy

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    platform: linux/amd64
    ports:
      - "8080:80"
    restart: unless-stopped
    depends_on:
      - backend

  mysql:
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: "example_root_password"
      MYSQL_DATABASE: "Shay_Project"
      # Do not set MYSQL_USER to "root". Use MYSQL_ROOT_PASSWORD only for the root user.
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 10
volumes:
  mysql_data:
